ul li {
    list-style: none;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: lightsalmon;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

body {
    background-color: yellow;
}

